@charset  "UTF-8";

table {
  border-collapse: collapse;
}
table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}
/*余白と文字装飾は省略*/
table td {/*table内のtdに対して*/
  padding: 60px 70px;/*上下60pxで左右70px*/
}